<nav id="navbar" class="navigation sticky">
  <section class="main">
    <a href="/">Home</a>
    <a href="/twats">Twats</a>
  </section>
  <section>
    <a class="site-heading" href="/">
      <h1>Twatter</h1>
    </a>
  </section>
  <%= erb :"partials/navigation/login" %>
</nav>
