<nav id="navbar" class="navigation sticky">
  <section class="main">
    <a href="/" class="<%= request.path_info == "/" ? "active" : "" %>">Home</a>
    <a href="/twats" class="<%= request.path_info == "/twats" ? "active" : "" %>">Twats</a>
  </section>
  <section>
    <a class="site-heading" href="/">
      <h1>Twatter</h1>
    </a>
  </section>
  <%= erb :"partials/navigation/login" %>
</nav>
