<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twatter</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
  <a href="/">
    <h1>Twatter</h1>
  </a>

  <header>
    <%= erb :"partials/navigation" %>
  </header>

  <section class="container">
    <%= yield %>
  </section>

  <script>
    window.onscroll = function() { stickyBar() };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function stickyBar() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>
</body>
</html>
