<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twatter</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
  <header class="header sticky">
    <%= erb :"partials/navigation" %>
  </header>

  <section class="container">
    <%= yield %>
  </section>

  <script type="text/javascript" src="/javascripts/application.js"></script>
</body>
</html>
