<section class="followers">
  <h2>
    <a href="/users/<%= username %>">@<%= username %></a>
    Following
  </h2>
  <% following.each do |follower| %>
    <%= erb :"users/profile_card", locals: follower.attributes %>
  <% end %>
</section>
