<section class="login-nav">
  <% unless logged_in? %>
    <a href="/login">login</a>
    <a href="/users/new">signup</a>
  <% else %>
    <span class="user">
      logged in as
      <a href="/users/<%= current_user.username %>">@<%= current_user.username %></a>
    </span>
    <form action="/session" method="post" class="logout-form">
      <input type="hidden" name="_method" value="delete">
      <button>
        <i class="fas fa-sign-out-alt"></i>
        logout
      </button>
    </form>
  <% end %>
</section>
