<section class="login-nav">
  <% unless logged_in? %>
    <a href="/login">login</a>
    <a href="/users/new">signup</a>
  <% else %>
    <span class="user">logged in as <%= current_user.email %></span>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  <% end %>
</section>
