<section class="profile-container">
  <% if logged_in? %>
    <%= erb :"users/profile_card", locals: current_user.attributes %>
    <nav class="actions">
      <a href="#">Profile</a>
      <a href="#">Sign Out</a>
    </nav>
  <% end %>
</section>

<section class="activity-container">
  <section class="new-post">
    <%= erb :"twats/form" %>
  </section>

  <section class="timeline">
    <h2>Recent Activity</h2>
    <section class="twats">

    <% @twats.each do |twat| %>
      <%= erb :"twats/twat", locals: {
        twat_id: twat.id,
        twatter_id: twat.twatter.id,
        name: twat.twatter.name,
        username: twat.twatter.username,
        image_url: twat.twatter.image_url,
        likes: twat.likes.count,
        retwats: twat.retwats.count,
        comments_count: twat.comments.count,
        message: twat.message
      } %>
    <% end %>
  </section>
</section>
