<section class="user">
  <article class="profile">
    <img src="/images/avatar3.png">
    <h1>John Doe</h1>
    <p>Following <a href="#">1</a></p>
    <p>Followers <a href="#">2</a></p>
    <nav class="actions">
      <a href="#">Profile</a>
      <a href="#">Sign Out</a>
    </nav>
  </article>

</section>

<section class="timeline">
  <h2>Recent Activity</h2>
  <article class="twat card">
    <header class="head">
      <img src="/images/avatar2.png">
      <a href="#"><h1>@Jane Smith</h1></a>
      <button><i class="fas fa-ban"></i><span class="sr-only">Block</span></button>
    </header>
    <section class="body">
      <p>
        Lorem ipsum dolor amet intelligentsia enamel pin pitchfork, aesthetic
        readymade heirloom hexagon quinoa helvetica marfa yr humblebrag. Fixie
        crucifix try-hard, cardigan ennui letterpress williamsburg cloud bread
        truffaut quinoa iPhone VHS swag. Brunch woke banh mi kogi tote bag
        before they sold out ennui. Man braid readymade franzen, gochujang
        tumeric vaporware bushwick glossier hella 3 wolf moon leggings taiyaki.
      </p>
      <!--
      < % = message % >
       -->
    </section>
    <footer class="foot">
      <button>
        <i class="fas fa-thumbs-up"></i>
        Like
        <span class="count">10</span>
      </button>
      <button>
        <i class="far fa-heart"></i>
        Favourite
        <span class="count">2</span>
      </button>
      <button>
        <i class="fas fa-retweet"></i>
        Retwat
        <span class="count">0</span>
      </button>
    </footer>
  </article>

  <article class="twat card">
    <header class="head">
      <img src="/images/avatar3.png">
      <a href="#"><h1>@John Doe</h1></a>
    </header>
    <section class="body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <!--
      < % = message % >
       -->
    </section>
    <footer class="foot">
      <button><i class="far fa-thumbs-up"></i><span class="sr-only">Like</span></button>
      <button><i class="fas fa-heart"></i><span class="sr-only">Favourite</span></button>
    </footer>
  </article>
</section>
