<section class="user">
  <article class="profile">
    <img src="/images/avatar3.png">
    <h1>John Doe</h1>
    <p>Following <a href="#">1</a></p>
    <p>Followers <a href="#">2</a></p>
    <nav class="actions">
      <a href="#">Profile</a>
      <a href="#">Sign Out</a>
    </nav>
  </article>

</section>

<section class="timeline">
  <h2>Recent Activity</h2>
  <%= erb :"twats/twat", locals: {
    twat_id: 1,
    twatter_id: 32,
    name: "Jane Doe",
    username: "janedoe",
    image_url: "/images/avatar2.png",
    likes: 2,
    retwats: 1,
    comments_count: 0,
    message: <<~MESSAGE
      Lorem ipsum dolor amet intelligentsia enamel pin pitchfork, aesthetic
      readymade heirloom hexagon quinoa helvetica marfa yr humblebrag. Fixie
      crucifix try-hard, cardigan ennui letterpress williamsburg cloud bread
      truffaut quinoa iPhone VHS swag. Brunch woke banh mi kogi tote bag
      before they sold out ennui. Man braid readymade franzen, gochujang
      tumeric vaporware bushwick glossier hella 3 wolf moon leggings taiyaki.
    MESSAGE
  } %>

  <%= erb :"twats/twat", locals: {
    twat_id: 2,
    twatter_id: 1010,
    name: "John Doe",
    username: "johndoe",
    image_url: "/images/avatar3.png",
    likes: 42,
    retwats: 10,
    comments_count: 7,
    message: <<~MESSAGE
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    MESSAGE
  } %>
</section>
