<article class="twat card">
  <header class="head">
    <img src="/images/avatar2.png">
    <a href="#"><h1>@Jane Smith</h1></a>
    <button><i class="fas fa-ban"></i><span class="sr-only">Block</span></button>
  </header>
  <section class="body">
    <p>
      Lorem ipsum dolor amet intelligentsia enamel pin pitchfork, aesthetic
      readymade heirloom hexagon quinoa helvetica marfa yr humblebrag. Fixie
      crucifix try-hard, cardigan ennui letterpress williamsburg cloud bread
      truffaut quinoa iPhone VHS swag. Brunch woke banh mi kogi tote bag
      before they sold out ennui. Man braid readymade franzen, gochujang
      tumeric vaporware bushwick glossier hella 3 wolf moon leggings taiyaki.
    </p>
    <!--
    < % = message % >
     -->
  </section>
  <footer class="foot actions">
    <button>
      <i class="far fa-heart"></i>
      <span class="sr-only">Like</span>
      <span class="count">2</span>
    </button>
    <button>
      <i class="fas fa-retweet"></i>
      Retwat
      <span class="count">0</span>
    </button>
  </footer>
</article>
