<form class="comment-form" action="/comments" method="post">
  <input type="hidden" name="twat_id" value="<%= twat_id %>">
  <label class="sr-only" for="content">content</label>
  <input type="text" name="content" placeholder="Thoughts?">
  <button>
    <i class="fas fa-pen"></i>
    <span class="sr-only">post</span>
  </button>
</form>
