<section class="profile-container">
  <%= erb :"users/profile_card", locals: @twatter.attributes %>
</section>

<section class="activity-container">
  <section class="new-post">
    <%= erb :"twats/form" %>
  </section>

  <section class="timeline">
    <h2>Recent Activity</h2>
    <section class="twats">

    <% @twats.each do |twat| %>
      <%= erb :"twats/show", locals: { twat: twat } %>
    <% end %>
  </section>
</section>
